.change-password {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: RGB(246, 249, 252);
}
.middle {
  border-radius: 18px;
  background-color: #fff;
  width: 50vh;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(50, 50, 93, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.1);
}
.form {
  padding: 50px;
}
.title .logo {
  color: #525f7f;
  font-size: 17px;
  font-weight: 400;
}
.title .change-password-title {
  font-size: 32px;
  color: #32325d;
  letter-spacing: 0.6px;
  padding: 20px 0px;
}
.submit-button {
  width: 100%;
  display: flex;
  justify-content: center;
}
.other-choose {
  display: flex;
  justify-content: flex-end;
}
/* 取消指定 router-link 元素的默认样式 */
.no-default-style {
  text-decoration: none;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.right img {
  width: 400px;
  height: 300px;
}
