.el-aside {
  padding-top: 70px;
  width: 160px;
}
.el-header {
  height: 60px;
  padding: 0px !important;
  position: fixed;
  width: 100%;
  z-index:999;
}
.el-main {
  padding-top: 90px;
  background-color: RGB(238, 240, 245);
  height: 100vh;
}
